<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.toon.default</string>
	<key>group_name</key>
	<string>Emoji</string>
	<key>emotions</key>
	<array>
		<dict>
			<key>chs</key>
			<string>[微笑]</string>
			<key>cht</key>
			<string>[微笑]</string>
			<key>git</key>
			<string>024@2x.gif</string>
			<key>png</key>
			<string>024@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[撇嘴]</string>
			<key>cht</key>
			<string>[撇嘴]</string>
			<key>git</key>
			<string>041@2x.gif</string>
			<key>png</key>
			<string>041@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[色]</string>
			<key>cht</key>
			<string>[色]</string>
			<key>git</key>
			<string>020@2x.gif</string>
			<key>png</key>
			<string>020@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[发呆]</string>
			<key>cht</key>
			<string>[发呆]</string>
			<key>git</key>
			<string>044@2x.gif</string>
			<key>png</key>
			<string>044@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[得意]</string>
			<key>cht</key>
			<string>[得意]</string>
			<key>git</key>
			<string>022@2x.gif</string>
			<key>png</key>
			<string>022@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[流泪]</string>
			<key>cht</key>
			<string>[流泪]</string>
			<key>git</key>
			<string>010@2x.gif</string>
			<key>png</key>
			<string>010@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[害羞]</string>
			<key>cht</key>
			<string>[害羞]</string>
			<key>git</key>
			<string>021@2x.gif</string>
			<key>png</key>
			<string>021@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[闭嘴]</string>
			<key>cht</key>
			<string>[闭嘴]</string>
			<key>git</key>
			<string>105@2x.gif</string>
			<key>png</key>
			<string>105@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[睡]</string>
			<key>cht</key>
			<string>[睡]</string>
			<key>git</key>
			<string>036@2x.gif</string>
			<key>png</key>
			<string>036@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[大哭]</string>
			<key>cht</key>
			<string>[大哭]</string>
			<key>git</key>
			<string>011@2x.gif</string>
			<key>png</key>
			<string>011@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[尴尬]</string>
			<key>cht</key>
			<string>[尴尬]</string>
			<key>git</key>
			<string>026@2x.gif</string>
			<key>png</key>
			<string>026@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[发怒]</string>
			<key>cht</key>
			<string>[发怒]</string>
			<key>git</key>
			<string>025@2x.gif</string>
			<key>png</key>
			<string>025@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[调皮]</string>
			<key>cht</key>
			<string>[调皮]</string>
			<key>git</key>
			<string>002@2x.gif</string>
			<key>png</key>
			<string>002@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[呲牙]</string>
			<key>cht</key>
			<string>[呲牙]</string>
			<key>git</key>
			<string>001@2x.gif</string>
			<key>png</key>
			<string>001@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[惊讶]</string>
			<key>cht</key>
			<string>[惊讶]</string>
			<key>git</key>
			<string>034@2x.gif</string>
			<key>png</key>
			<string>034@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[难过]</string>
			<key>cht</key>
			<string>[难过]</string>
			<key>git</key>
			<string>033@2x.gif</string>
			<key>png</key>
			<string>033@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[酷]</string>
			<key>cht</key>
			<string>[酷]</string>
			<key>git</key>
			<string>013@2x.gif</string>
			<key>png</key>
			<string>013@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[冷汗]</string>
			<key>cht</key>
			<string>[冷汗]</string>
			<key>git</key>
			<string>028@2x.gif</string>
			<key>png</key>
			<string>028@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[折磨]</string>
			<key>cht</key>
			<string>[折磨]</string>
			<key>git</key>
			<string>014@2x.gif</string>
			<key>png</key>
			<string>014@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[吐]</string>
			<key>cht</key>
			<string>[吐]</string>
			<key>git</key>
			<string>023@2x.gif</string>
			<key>png</key>
			<string>023@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[偷笑]</string>
			<key>cht</key>
			<string>[偷笑]</string>
			<key>git</key>
			<string>004@2x.gif</string>
			<key>png</key>
			<string>004@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[可爱]</string>
			<key>cht</key>
			<string>[可爱]</string>
			<key>git</key>
			<string>019@2x.gif</string>
			<key>png</key>
			<string>019@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[白眼]</string>
			<key>cht</key>
			<string>[白眼]</string>
			<key>git</key>
			<string>031@2x.gif</string>
			<key>png</key>
			<string>031@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[傲慢]</string>
			<key>cht</key>
			<string>[傲慢]</string>
			<key>git</key>
			<string>032@2x.gif</string>
			<key>png</key>
			<string>032@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[饥饿]</string>
			<key>cht</key>
			<string>[饥饿]</string>
			<key>git</key>
			<string>080@2x.gif</string>
			<key>png</key>
			<string>080@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[困]</string>
			<key>cht</key>
			<string>[困]</string>
			<key>git</key>
			<string>081@2x.gif</string>
			<key>png</key>
			<string>081@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[惊恐]</string>
			<key>cht</key>
			<string>[惊恐]</string>
			<key>git</key>
			<string>027@2x.gif</string>
			<key>png</key>
			<string>027@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[流汗]</string>
			<key>cht</key>
			<string>[流汗]</string>
			<key>git</key>
			<string>003@2x.gif</string>
			<key>png</key>
			<string>003@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[憨笑]</string>
			<key>cht</key>
			<string>[憨笑]</string>
			<key>git</key>
			<string>038@2x.gif</string>
			<key>png</key>
			<string>038@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[大兵]</string>
			<key>cht</key>
			<string>[大兵]</string>
			<key>git</key>
			<string>051@2x.gif</string>
			<key>png</key>
			<string>051@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[奋斗]</string>
			<key>cht</key>
			<string>[奋斗]</string>
			<key>git</key>
			<string>043@2x.gif</string>
			<key>png</key>
			<string>043@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[咒骂]</string>
			<key>cht</key>
			<string>[咒骂]</string>
			<key>git</key>
			<string>082@2x.gif</string>
			<key>png</key>
			<string>082@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[疑问]</string>
			<key>cht</key>
			<string>[疑问]</string>
			<key>git</key>
			<string>035@2x.gif</string>
			<key>png</key>
			<string>035@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[嘘]</string>
			<key>cht</key>
			<string>[嘘]</string>
			<key>git</key>
			<string>012@2x.gif</string>
			<key>png</key>
			<string>012@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[晕]</string>
			<key>cht</key>
			<string>[晕]</string>
			<key>git</key>
			<string>050@2x.gif</string>
			<key>png</key>
			<string>050@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[生气]</string>
			<key>cht</key>
			<string>[生气]</string>
			<key>git</key>
			<string>083@2x.gif</string>
			<key>png</key>
			<string>083@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[衰]</string>
			<key>cht</key>
			<string>[衰]</string>
			<key>git</key>
			<string>040@2x.gif</string>
			<key>png</key>
			<string>040@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[骷髅]</string>
			<key>cht</key>
			<string>[骷髅]</string>
			<key>git</key>
			<string>077@2x.gif</string>
			<key>png</key>
			<string>077@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[敲打]</string>
			<key>cht</key>
			<string>[敲打]</string>
			<key>git</key>
			<string>006@2x.gif</string>
			<key>png</key>
			<string>006@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[再见]</string>
			<key>cht</key>
			<string>[再见]</string>
			<key>git</key>
			<string>005@2x.gif</string>
			<key>png</key>
			<string>005@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[擦汗]</string>
			<key>cht</key>
			<string>[擦汗]</string>
			<key>git</key>
			<string>007@2x.gif</string>
			<key>png</key>
			<string>007@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[抠鼻]</string>
			<key>cht</key>
			<string>[抠鼻]</string>
			<key>git</key>
			<string>084@2x.gif</string>
			<key>png</key>
			<string>084@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[鼓掌]</string>
			<key>cht</key>
			<string>[鼓掌]</string>
			<key>git</key>
			<string>085@2x.gif</string>
			<key>png</key>
			<string>085@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[糗大了]</string>
			<key>cht</key>
			<string>[糗大了]</string>
			<key>git</key>
			<string>086@2x.gif</string>
			<key>png</key>
			<string>086@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[坏笑]</string>
			<key>cht</key>
			<string>[坏笑]</string>
			<key>git</key>
			<string>047@2x.gif</string>
			<key>png</key>
			<string>047@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[左哼哼]</string>
			<key>cht</key>
			<string>[左哼哼]</string>
			<key>git</key>
			<string>087@2x.gif</string>
			<key>png</key>
			<string>087@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[右哼哼]</string>
			<key>cht</key>
			<string>[右哼哼]</string>
			<key>git</key>
			<string>045@2x.gif</string>
			<key>png</key>
			<string>045@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[哈欠]</string>
			<key>cht</key>
			<string>[哈欠]</string>
			<key>git</key>
			<string>088@2x.gif</string>
			<key>png</key>
			<string>088@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[鄙视]</string>
			<key>cht</key>
			<string>[鄙视]</string>
			<key>git</key>
			<string>049@2x.gif</string>
			<key>png</key>
			<string>049@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[委屈]</string>
			<key>cht</key>
			<string>[委屈]</string>
			<key>git</key>
			<string>015@2x.gif</string>
			<key>png</key>
			<string>015@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[快哭了]</string>
			<key>cht</key>
			<string>[快哭了]</string>
			<key>git</key>
			<string>089@2x.gif</string>
			<key>png</key>
			<string>089@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[阴险]</string>
			<key>cht</key>
			<string>[阴险]</string>
			<key>git</key>
			<string>042@2x.gif</string>
			<key>png</key>
			<string>042@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[亲亲]</string>
			<key>cht</key>
			<string>[亲亲]</string>
			<key>git</key>
			<string>037@2x.gif</string>
			<key>png</key>
			<string>037@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[吓]</string>
			<key>cht</key>
			<string>[吓]</string>
			<key>git</key>
			<string>090@2x.gif</string>
			<key>png</key>
			<string>090@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[可怜]</string>
			<key>cht</key>
			<string>[可怜]</string>
			<key>git</key>
			<string>052@2x.gif</string>
			<key>png</key>
			<string>052@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[菜刀]</string>
			<key>cht</key>
			<string>[菜刀]</string>
			<key>git</key>
			<string>018@2x.gif</string>
			<key>png</key>
			<string>018@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[凋谢]</string>
			<key>cht</key>
			<string>[凋谢]</string>
			<key>git</key>
			<string>061@2x.gif</string>
			<key>png</key>
			<string>061@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[啤酒]</string>
			<key>cht</key>
			<string>[啤酒]</string>
			<key>git</key>
			<string>062@2x.gif</string>
			<key>png</key>
			<string>062@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[篮球]</string>
			<key>cht</key>
			<string>[篮球]</string>
			<key>git</key>
			<string>091@2x.gif</string>
			<key>png</key>
			<string>091@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[乒乓]</string>
			<key>cht</key>
			<string>[乒乓]</string>
			<key>git</key>
			<string>092@2x.gif</string>
			<key>png</key>
			<string>092@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[咖啡]</string>
			<key>cht</key>
			<string>[咖啡]</string>
			<key>git</key>
			<string>067@2x.gif</string>
			<key>png</key>
			<string>067@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[饭]</string>
			<key>cht</key>
			<string>[饭]</string>
			<key>git</key>
			<string>059@2x.gif</string>
			<key>png</key>
			<string>059@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[猪头]</string>
			<key>cht</key>
			<string>[猪头]</string>
			<key>git</key>
			<string>008@2x.gif</string>
			<key>png</key>
			<string>008@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[玫瑰]</string>
			<key>cht</key>
			<string>[玫瑰]</string>
			<key>git</key>
			<string>009@2x.gif</string>
			<key>png</key>
			<string>009@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[弯玫瑰]</string>
			<key>cht</key>
			<string>[弯玫瑰]</string>
			<key>git</key>
			<string>058@2x.gif</string>
			<key>png</key>
			<string>058@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[示爱]</string>
			<key>cht</key>
			<string>[示爱]</string>
			<key>git</key>
			<string>030@2x.gif</string>
			<key>png</key>
			<string>030@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[爱心]</string>
			<key>cht</key>
			<string>[爱心]</string>
			<key>git</key>
			<string>029@2x.gif</string>
			<key>png</key>
			<string>029@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[心碎]</string>
			<key>cht</key>
			<string>[心碎]</string>
			<key>git</key>
			<string>073@2x.gif</string>
			<key>png</key>
			<string>073@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[蛋糕]</string>
			<key>cht</key>
			<string>[蛋糕]</string>
			<key>git</key>
			<string>060@2x.gif</string>
			<key>png</key>
			<string>060@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[闪电]</string>
			<key>cht</key>
			<string>[闪电]</string>
			<key>git</key>
			<string>079@2x.gif</string>
			<key>png</key>
			<string>079@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[炸弹]</string>
			<key>cht</key>
			<string>[炸弹]</string>
			<key>git</key>
			<string>017@2x.gif</string>
			<key>png</key>
			<string>017@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[刀]</string>
			<key>cht</key>
			<string>[刀]</string>
			<key>git</key>
			<string>069@2x.gif</string>
			<key>png</key>
			<string>069@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[足球]</string>
			<key>cht</key>
			<string>[足球]</string>
			<key>git</key>
			<string>076@2x.gif</string>
			<key>png</key>
			<string>076@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[瓢虫]</string>
			<key>cht</key>
			<string>[瓢虫]</string>
			<key>git</key>
			<string>063@2x.gif</string>
			<key>png</key>
			<string>063@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[便便]</string>
			<key>cht</key>
			<string>[便便]</string>
			<key>git</key>
			<string>016@2x.gif</string>
			<key>png</key>
			<string>016@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[月亮]</string>
			<key>cht</key>
			<string>[月亮]</string>
			<key>git</key>
			<string>068@2x.gif</string>
			<key>png</key>
			<string>068@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[太阳]</string>
			<key>cht</key>
			<string>[太阳]</string>
			<key>git</key>
			<string>074@2x.gif</string>
			<key>png</key>
			<string>074@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[礼物]</string>
			<key>cht</key>
			<string>[礼物]</string>
			<key>git</key>
			<string>075@2x.gif</string>
			<key>png</key>
			<string>075@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[拥抱]</string>
			<key>cht</key>
			<string>[拥抱]</string>
			<key>git</key>
			<string>046@2x.gif</string>
			<key>png</key>
			<string>046@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[强]</string>
			<key>cht</key>
			<string>[强]</string>
			<key>git</key>
			<string>053@2x.gif</string>
			<key>png</key>
			<string>053@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[弱]</string>
			<key>cht</key>
			<string>[弱]</string>
			<key>git</key>
			<string>054@2x.gif</string>
			<key>png</key>
			<string>054@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[握手]</string>
			<key>cht</key>
			<string>[握手]</string>
			<key>git</key>
			<string>055@2x.gif</string>
			<key>png</key>
			<string>055@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[胜利]</string>
			<key>cht</key>
			<string>[胜利]</string>
			<key>git</key>
			<string>056@2x.gif</string>
			<key>png</key>
			<string>056@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[抱拳]</string>
			<key>cht</key>
			<string>[抱拳]</string>
			<key>git</key>
			<string>057@2x.gif</string>
			<key>png</key>
			<string>057@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[勾引]</string>
			<key>cht</key>
			<string>[勾引]</string>
			<key>git</key>
			<string>064@2x.gif</string>
			<key>png</key>
			<string>064@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[拳头]</string>
			<key>cht</key>
			<string>[拳头]</string>
			<key>git</key>
			<string>072@2x.gif</string>
			<key>png</key>
			<string>072@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[差劲]</string>
			<key>cht</key>
			<string>[差劲]</string>
			<key>git</key>
			<string>071@2x.gif</string>
			<key>png</key>
			<string>071@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[爱你]</string>
			<key>cht</key>
			<string>[爱你]</string>
			<key>git</key>
			<string>066@2x.gif</string>
			<key>png</key>
			<string>066@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[NO]</string>
			<key>cht</key>
			<string>[NO]</string>
			<key>git</key>
			<string>093@2x.gif</string>
			<key>png</key>
			<string>093@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[OK]</string>
			<key>cht</key>
			<string>[OK]</string>
			<key>git</key>
			<string>065@2x.gif</string>
			<key>png</key>
			<string>065@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[爱情]</string>
			<key>cht</key>
			<string>[爱情]</string>
			<key>git</key>
			<string>039@2x.gif</string>
			<key>png</key>
			<string>039@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[飞吻]</string>
			<key>cht</key>
			<string>[飞吻]</string>
			<key>git</key>
			<string>048@2x.gif</string>
			<key>png</key>
			<string>048@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[跳跳]</string>
			<key>cht</key>
			<string>[跳跳]</string>
			<key>git</key>
			<string>094@2x.gif</string>
			<key>png</key>
			<string>094@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[发抖]</string>
			<key>cht</key>
			<string>[发抖]</string>
			<key>git</key>
			<string>070@2x.gif</string>
			<key>png</key>
			<string>070@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[怄火]</string>
			<key>cht</key>
			<string>[怄火]</string>
			<key>git</key>
			<string>095@2x.gif</string>
			<key>png</key>
			<string>095@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[转圈]</string>
			<key>cht</key>
			<string>[转圈]</string>
			<key>git</key>
			<string>096@2x.gif</string>
			<key>png</key>
			<string>096@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[磕头]</string>
			<key>cht</key>
			<string>[磕头]</string>
			<key>git</key>
			<string>097@2x.gif</string>
			<key>png</key>
			<string>097@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[回头]</string>
			<key>cht</key>
			<string>[回头]</string>
			<key>git</key>
			<string>098@2x.gif</string>
			<key>png</key>
			<string>098@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[跳绳]</string>
			<key>cht</key>
			<string>[跳绳]</string>
			<key>git</key>
			<string>099@2x.gif</string>
			<key>png</key>
			<string>099@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[挥手]</string>
			<key>cht</key>
			<string>[挥手]</string>
			<key>git</key>
			<string>078@2x.gif</string>
			<key>png</key>
			<string>078@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[激动]</string>
			<key>cht</key>
			<string>[激动]</string>
			<key>git</key>
			<string>100@2x.gif</string>
			<key>png</key>
			<string>100@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[街舞]</string>
			<key>cht</key>
			<string>[街舞]</string>
			<key>git</key>
			<string>101@2x.gif</string>
			<key>png</key>
			<string>101@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[献吻]</string>
			<key>cht</key>
			<string>[献吻]</string>
			<key>git</key>
			<string>102@2x.gif</string>
			<key>png</key>
			<string>102@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[左太极]</string>
			<key>cht</key>
			<string>[左太极]</string>
			<key>git</key>
			<string>103@2x.gif</string>
			<key>png</key>
			<string>103@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[右太极]</string>
			<key>cht</key>
			<string>[右太极]</string>
			<key>git</key>
			<string>104@2x.gif</string>
			<key>png</key>
			<string>104@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[招财猫]</string>
			<key>cht</key>
			<string>[招财猫]</string>
			<key>git</key>
			<string>106@2x.gif</string>
			<key>png</key>
			<string>106@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[双喜]</string>
			<key>cht</key>
			<string>[双喜]</string>
			<key>git</key>
			<string>107@2x.gif</string>
			<key>png</key>
			<string>107@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[鞭炮]</string>
			<key>cht</key>
			<string>[鞭炮]</string>
			<key>git</key>
			<string>108@2x.gif</string>
			<key>png</key>
			<string>108@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[灯笼]</string>
			<key>cht</key>
			<string>[灯笼]</string>
			<key>git</key>
			<string>109@2x.gif</string>
			<key>png</key>
			<string>109@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[发财]</string>
			<key>cht</key>
			<string>[发财]</string>
			<key>git</key>
			<string>110@2x.gif</string>
			<key>png</key>
			<string>110@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[K歌]</string>
			<key>cht</key>
			<string>[K歌]</string>
			<key>git</key>
			<string>111@2x.gif</string>
			<key>png</key>
			<string>111@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[购]</string>
			<key>cht</key>
			<string>[购]</string>
			<key>git</key>
			<string>112@2x.gif</string>
			<key>png</key>
			<string>112@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[邮件]</string>
			<key>cht</key>
			<string>[邮件]</string>
			<key>git</key>
			<string>113@2x.gif</string>
			<key>png</key>
			<string>113@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[帅]</string>
			<key>cht</key>
			<string>[帅]</string>
			<key>git</key>
			<string>114@2x.gif</string>
			<key>png</key>
			<string>114@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[喝彩]</string>
			<key>cht</key>
			<string>[喝彩]</string>
			<key>git</key>
			<string>115@2x.gif</string>
			<key>png</key>
			<string>115@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[祈祷]</string>
			<key>cht</key>
			<string>[祈祷]</string>
			<key>git</key>
			<string>116@2x.gif</string>
			<key>png</key>
			<string>116@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[爆筋]</string>
			<key>cht</key>
			<string>[爆筋]</string>
			<key>git</key>
			<string>117@2x.gif</string>
			<key>png</key>
			<string>117@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[棒棒糖]</string>
			<key>cht</key>
			<string>[棒棒糖]</string>
			<key>git</key>
			<string>118@2x.gif</string>
			<key>png</key>
			<string>118@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[喝奶]</string>
			<key>cht</key>
			<string>[喝奶]</string>
			<key>git</key>
			<string>119@2x.gif</string>
			<key>png</key>
			<string>119@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[面]</string>
			<key>cht</key>
			<string>[面]</string>
			<key>git</key>
			<string>120@2x.gif</string>
			<key>png</key>
			<string>120@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[香蕉]</string>
			<key>cht</key>
			<string>[香蕉]</string>
			<key>git</key>
			<string>121@2x.gif</string>
			<key>png</key>
			<string>121@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[飞机]</string>
			<key>cht</key>
			<string>[飞机]</string>
			<key>git</key>
			<string>122@2x.gif</string>
			<key>png</key>
			<string>122@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[开车]</string>
			<key>cht</key>
			<string>[开车]</string>
			<key>git</key>
			<string>123@2x.gif</string>
			<key>png</key>
			<string>123@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[左车头]</string>
			<key>cht</key>
			<string>[左车头]</string>
			<key>git</key>
			<string>124@2x.gif</string>
			<key>png</key>
			<string>124@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[车厢]</string>
			<key>cht</key>
			<string>[车厢]</string>
			<key>git</key>
			<string>125@2x.gif</string>
			<key>png</key>
			<string>125@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[右车头]</string>
			<key>cht</key>
			<string>[右车头]</string>
			<key>git</key>
			<string>126@2x.gif</string>
			<key>png</key>
			<string>126@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[多云]</string>
			<key>cht</key>
			<string>[多云]</string>
			<key>git</key>
			<string>127@2x.gif</string>
			<key>png</key>
			<string>127@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[下雨]</string>
			<key>cht</key>
			<string>[下雨]</string>
			<key>git</key>
			<string>128@2x.gif</string>
			<key>png</key>
			<string>128@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[钞票]</string>
			<key>cht</key>
			<string>[钞票]</string>
			<key>git</key>
			<string>129@2x.gif</string>
			<key>png</key>
			<string>129@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[熊猫]</string>
			<key>cht</key>
			<string>[熊猫]</string>
			<key>git</key>
			<string>130@2x.gif</string>
			<key>png</key>
			<string>130@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[灯泡]</string>
			<key>cht</key>
			<string>[灯泡]</string>
			<key>git</key>
			<string>131@2x.gif</string>
			<key>png</key>
			<string>131@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[风车]</string>
			<key>cht</key>
			<string>[风车]</string>
			<key>git</key>
			<string>132@2x.gif</string>
			<key>png</key>
			<string>132@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[闹钟]</string>
			<key>cht</key>
			<string>[闹钟]</string>
			<key>git</key>
			<string>133@2x.gif</string>
			<key>png</key>
			<string>133@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[打伞]</string>
			<key>cht</key>
			<string>[打伞]</string>
			<key>git</key>
			<string>134@2x.gif</string>
			<key>png</key>
			<string>134@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[彩球]</string>
			<key>cht</key>
			<string>[彩球]</string>
			<key>git</key>
			<string>135@2x.gif</string>
			<key>png</key>
			<string>135@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[钻戒]</string>
			<key>cht</key>
			<string>[钻戒]</string>
			<key>git</key>
			<string>136@2x.gif</string>
			<key>png</key>
			<string>136@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[沙发]</string>
			<key>cht</key>
			<string>[沙发]</string>
			<key>git</key>
			<string>137@2x.gif</string>
			<key>png</key>
			<string>137@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[纸巾]</string>
			<key>cht</key>
			<string>[纸巾]</string>
			<key>git</key>
			<string>138@2x.gif</string>
			<key>png</key>
			<string>138@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[药]</string>
			<key>cht</key>
			<string>[药]</string>
			<key>git</key>
			<string>139@2x.gif</string>
			<key>png</key>
			<string>139@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[手枪]</string>
			<key>cht</key>
			<string>[手枪]</string>
			<key>git</key>
			<string>140@2x.gif</string>
			<key>png</key>
			<string>140@2x.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
